* {
  margin: 0;
  padding: 0;
}

.calc-viev {
  margin: 10px auto 0;
  display: block;
  width: 250px;
  padding: 10px;
  border: 1px solid;
}
.calc-viev .display .text-viev {
  width: 230px;
  height: 50px;
  margin: 0px 0px 10px;
}

.grid-table {
  display: grid;
  grid-gap: auto;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: repeat(auto-fill, auto);
}
.grid-table .element input {
  width: 100%;
  height: 47px;
  font-size: 16px;
}